<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SMM2 2019 Uncleared</title>
  <link rel="stylesheet" href="styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400&display=swap" rel="stylesheet" />
  <!-- <script type="text/javascript" src="https://livejs.com/live.js"></script> -->
  <script src="script.js" defer></script>
</head>
<body>
  <div id="background-layer">
    <section id="top-content">
      <p id="top-text">
        <span>[B] [Fa] [Fl] Uncleared Levels (2019)</span>
        <% if (req && req.session.username) { %> 
          <span><%= req.session?.username %> [X]</span>
        <% } else { %>
         <span>[X]</span>
        <% } %> 
      </p>
      <div id="tabs-container">
        <div class="tab tab-big" id="overview">Overview</div>
        <div class="tab tab-big" id="levels"">Uploaded Courses</div>
        <div class="tab tab-big" id="filter">Filter Courses</div>
        <% if (typeof req !== 'undefined' && req.session.username) { %> 
        <div class="tab tab-small" id="logout">
          <form action="/logout" method="POST" id="log-out-form ">
            <button id="log-out-btn">
              <img class="tab-svg" src="https://www.svgrepo.com/show/132889/logout.svg" alt="Log out" />
            </button>
          </form>
        </div>
        <div class="tab tab-small" id="username">
          My clears
        </div>
        <% } else { %>
        <div class="tab tab-small" id="login">
          <img class="tab-svg" src="https://www.svgrepo.com/show/9778/login.svg" alt="Log in" />
        </div>
        <div class="tab tab-small" id="signup">
          <img class="tab-svg" src="https://www.svgrepo.com/show/335051/create.svg" alt="Sign up">
        </div>
        <% } %>
      </div>
    </section>
    <section id="page-content">
      <div id="shadow"></div>
