<%- include('partials/head') %>
<%- include('partials/flash') %>

<form autocomplete="off" class="form" action="/login" method="POST" id="login-form">
  <span>Log in</span>
  <input type="text" name="username" placeholder="Username" required />
  <input type="password" name="password" placeholder="Password" required />
  <p>No account? <a href="./signup">Sign up</a></p>
  <button class="form-button">Log in</button>
</form>

<%- include('partials/foot') %>
