* { /* CSS-RESET */
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  user-select: none;
}

img {
  max-height: 100%;
  max-width: 100%;
}

@font-face {
  font-family: 'Super Mario Maker';
  src: url("assets/super-mario-maker.ttf");
}

.fat-font {
  font-family: 'Super Mario Maker', sans-serif;
}

.p-l {
  margin-left: 0.5em; 
}


:root {
  --main-dark-color: rgb(92, 28, 27);;
  --main-dark-color-svg: invert(13%) sepia(97%) saturate(770%) hue-rotate(325deg) brightness(96%) contrast(99%);
  --main-light-color: rgb(254, 204, 0);
  --main-light-color-svg: invert(67%) sepia(93%) saturate(497%) hue-rotate(0deg) brightness(104%) contrast(103%);
  --info-box-color: rgb(254, 243, 209);
}

body {
  font-family: 'Mukta', sans-serif;
  font-size: clamp(8px, 1vw, 17.778px);
  height: 100vh;
  width: 100vw;
  background-color: rgb(1, 13, 31);
  display: flex;
  justify-content: center;
  align-items: center;
}



#background-layer {
  background-color: rgb(206, 167, 11);
  width: clamp(320px, 100%, 90em);
  flex-shrink: 0;
  height: 90vh;

  box-sizing: border-box;
  padding: 0.4em;

  color: var(--main-dark-color);

  display: flex;
  flex-direction: column;
}

#top-content {
  height: 6em; 
  display: flex;
  flex-direction: column;
}

#top-text {
  height: 1.5em;
  font-size: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tabs-container {
  height: 3em;
  display: grid;
  grid-template-columns: repeat(3, 2.2fr) repeat(2, 0.5fr);
  grid-template-rows: 100%;
  gap: 0.5em;
}

.tab {
  background-color: var(--main-light-color);
  color: var(--main-dark-color);

  font-size: 1.35em;
  border-radius: 0.4em 0.4em 0 0 ;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab:hover,
.active-tab {
  color: var(--main-light-color);
  background-color: var(--main-dark-color);
}
.active-tab .tab-svg,
.tab:hover .tab-svg {
  filter: var(--main-light-color-svg);
}

.tab-svg {
  height: 1.7em;
  filter: var(--main-dark-color-svg);
}

#log-out-form {
  height: 100%;
}
#log-out-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-content {
  position: relative;
  flex-grow: 1;
  background-color:  rgb(207, 205, 194);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#page-content::-webkit-scrollbar {
  display: none;
}

#shadow {
  position: fixed;
  background: linear-gradient(rgba(150, 150, 150, 0.9) 0%, transparent 100%);
  background-size: 100% 2em;
  background-repeat: no-repeat;
  height: 5em;
  width: calc(clamp(320px, 100%, 90em) - 0.82em);
  pointer-events: none
}


#levels-list {
  width: min(100%, 60em);
}

.level,
.form {
  width: min(95%, 60em);
  background: rgb(253, 252, 237);
  border-radius: 0.66em;
  padding: 0.1em 0.6em;
  margin-block: 0.4em;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.form-big {
  height: 20em;
}

#level-top {
  font-size: 2em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-basis: 0.5em;
}
  .style-image {
    height: 100%;
    width: 3em;
  }

#thumb-likes-feet {
  display: flex;
  height: 8em;
}
  .thumb-and-date {
    width: max(25%, 120px);
  }
    .thumbnail {
      height: 6.4em;
      display: grid;
      place-items: center;
      background-color: var(--info-box-color);
    }
    .upload-date {
      font-size: 1.3em;
      color: rgb(253, 252, 237);
      background: rgb(179, 172, 155);
      padding-inline: 0.2em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 20%;
    }
  .likes-feet-tags {
    display: flex;
    flex-direction: column;
    margin-inline: 0.8em;
    margin-block: 0.4em;
    gap: 0.7em;
  }
    .likes-feet {
      display: flex;
      font-size: 2em;
      height: 1.1em;
      gap: 0.3em;
    }
    .tags {
      font-size: 1.5em;
      display: flex;
      align-items: center;
      height: 1.8em;
      gap: 0.4em;
    }
      .tag-svg {
        height: 45%;
      }

.expanded-top-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(min-content, 5em) 5em;
  gap: 0.3em;
  width: max(70%, 40em);
}

  .etg-item {
    white-space: nowrap;
    background-color: var(--info-box-color);
    display: grid;
    text-align: center;
    font-size: 1.5em;
  }

    .etg-item-title {
      font-size: 0.4em;
      color: grey;
    }
    .description {
      padding-inline: 2em;
      padding-block: 0.5em;
      white-space: normal;
      text-align: center;
      grid-area: 1 / span 3;
      justify-content: center;
      font-size: 1.3em;
    }



.expanded-bottom {
  margin-block: 0.3em;
  display: flex;
  align-content: center;
  justify-content: end;
  gap: 0.5em;
}


.eb-btn {
  color: var(--main-dark-color);
  font-size: 1.6em;
  font-family: Mukta;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3em;
  background-color: var(--main-light-color);
  width: 14em;
  height: 3.3em;
}
.eb-btn a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.form-big,
.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}
.form span {
  font-size: 1.5em;
  margin-left: 10%;
}
.form input {
  font-size: 1.5em;
  text-align: center;
  width: 50%;
  height: 15%;
  background: white;
  border: 1px solid grey;
  border-radius: 0.2em;
  text-align: center;
  margin: 0.2% 0;
}
.form button {
  font-size: 1.3em;
  color: var(--main-dark-color);
  margin-top: auto;
  margin-left: 50%;
  height: 3em;
  background-color: var(--main-light-color);
  border-radius: 0.5em;
}

.error {
  top: 15%;
  position: absolute;
}


.form-big {
  background: rgb(253, 252, 237);
  display: grid;
  grid-auto-rows: min-content;
  padding: 0.2em 0.5em;
  gap: 0.7em;
  border-radius: 0.5em;
}

.form-big p {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.form-big input {
  border: 1px solid var(--main-dark-color);
  border-radius: 0.3em;
}

.form-big select {
  text-align: center;
  border: 1px solid var(--main-dark-color);
  border-radius: 0.3em;
  color: var(--main-dark-color);
  font-size: 1em;
  height: 80%;
}

.form-big button {
  color: var(--main-dark-color);
  font-family: 'Mukta', sans-serif;
  font-size: 1.3em;
  border-radius: 0.3em;
  padding: 1.2em 4em;
  justify-self: end;
  color: var(--main-dark-color);
  background-color: var(--main-light-color);
}


#expandable {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s linear;
}

.expand {
  max-height: 20em !important;
}
