* { /* CSS-RESET */
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  user-select: none;
}

:root {
  --main-dark-color: rgb(92, 28, 27);;
  --main-dark-color-svg: invert(13%) sepia(97%) saturate(770%) hue-rotate(325deg) brightness(96%) contrast(99%);
  --main-light-color: rgb(254, 204, 0);
  --main-light-color-svg: invert(67%) sepia(93%) saturate(497%) hue-rotate(0deg) brightness(104%) contrast(103%)
}

body {
  font-family: 'Mukta', sans-serif;
  font-size: clamp(8px, 1vw, 17.778px);
  height: 100vh;
  width: 100vw;
  background-color: rgb(1, 13, 31);
  display:flex;
  justify-content: center;
  align-items: center;
}


#background-layer {
  background-color: rgb(206, 167, 11);
  width: clamp(320px, 100%, 90em);
  flex-shrink:0;
  height: 90vh;

  box-sizing: border-box;
  padding: 0.4em;

  color: var(--main-dark-color);

  display:flex;
  flex-direction: column;
}

#top-content {
  height: 6em; 
  display: flex;
  flex-direction: column;
}

#top-text {
  height: 1.5em;
  font-size: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tabs-container {
  height: 3em;
  display: grid;
  grid-template-columns: repeat(3, 2.2fr) repeat(2, 0.5fr);
  grid-template-rows: 100%;
  gap: 0.5em;
}

.tab {
  background-color: var(--main-light-color);
  color: var(--main-dark-color);

  font-size: 1.35em;
  border-radius: 0.4em 0.4em 0 0 ;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab:hover,
.active-tab {
  color: var(--main-light-color);
  background-color: var(--main-dark-color);
}
.active-tab .tab-svg,
.tab:hover .tab-svg {
  filter: var(--main-light-color-svg);
}

.tab-svg {
  height: 1.7em;
  filter: var(--main-dark-color-svg);
}

#log-out-form {
  height:100%;
}
#log-out-btn {
  display:flex;
  justify-content: center;
  align-items: center;
}

#page-content {
  position: relative;
  flex-grow: 1;
  background-color:  rgb(207, 205, 194);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#page-content::-webkit-scrollbar {
  display: none;
}

#shadow {
  position: fixed;
  background: linear-gradient(rgba(150, 150, 150, 0.9) 0%, transparent 100%);
  background-size: 100% 2em;
  background-repeat: no-repeat;
  height: 5em;
  width: calc(clamp(320px, 100%, 90em) - 0.82em);
  pointer-events:none
}


#levels-list {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: min(100%, 60em);
}

.level {
  height: 13em;
  width: min(95%, 60em);
  background: rgb(253, 252, 237);
  border-radius: 0.66em;
  padding: 0.1em 0.6em;
  margin: 0.4em 0;

  display: grid;
  grid-template-columns: minmax(138px, 1fr) 3fr;
  grid-template-rows: 1fr 3fr;
}

.level-top {
  font-size: 2em;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
}
.style-image {
  width: 3em;
  height: 1.5em;
  margin-right: 0.5em;
}

.bottom-left {
  width: max(100%, 120px);
}

.thumbnail {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 7.8em;
  background-color: rgb(254, 243, 209);
}
.upload-date {
  color: rgb(253, 252, 237);
  background: rgb(179, 172, 155);
  font-size: 1.3em;
  padding: 0 0.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1em;
}


.bottom-right {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.likes-svg,
.feet-svg {
  height: 85%;
  margin: 0.5em 0.5em;
}
.likes-feet {
  display: flex;
  align-items: center;

  font-size: 2.5em;

  height: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
}



.tags {
  font-size: 1.5em;
  display:flex;
  height: 1.75em;
  line-height: 0.8;
}

.tag {
  display:flex;
  align-items: center;
}

.tag-svg {
  height: 40%;
  margin-left: 1em;
  margin-right: 0.2em;
}

